{layout name="layout/layout"/}
<!-- Page Body -->
<div class="page-body">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-header ">
                    <span class="widget-caption">科目金额明细表</span>
                    <div class="widget-buttons">
                        <a href="#" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a href="#" data-toggle="collapse">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" data-toggle="dispose">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="col-xs-12" style="padding: 0px">
                        <div class="table-toolbar  col-xs-3 col-md-3">
                            <div class="input-group">
                              <a id="select_account" href="javascript:void(0);" class="btn btn-default" onclick="hide_tree()">
                                选择显示科目
                            </a>
                            </div>
                        </div>
                        <div class="table-toolbar  col-xs-5 col-md-3">
                            <div class="input-group">
                              <input type="text" class="form-control" id="being_date" placeholder="2017-01-01">
                              
                              <div class="input-group-addon">至</div>
                              
                              <input type="text" class="form-control" id="end_date" placeholder="2017-01-31">
                              
                            </div>
                        </div>
                        <div class="table-toolbar  col-xs-3  col-md-1 pull-right" style="text-align: right">
                            <a id="search" href="javascript:void(0);" class="btn btn-info" style="margin-top: 2px">
                            查询</a>
                        </div>
                        <div class="table-toolbar  col-xs-6  col-md-1 pull-right" style="text-align: right">
                            <a id="editabledatatable_new" href="javascript:void(0);" class="btn btn-default purple" style="margin-top: 2px"  onclick="show_add_modal(0)">
                                <i class="fa fa-plus"></i>新增
                            </a>
                        </div>  
                    </div>
                    <div class="col-xs-12" style="padding: 0px">
                        <div class="table-toolbar col-xs-12 col-md-6">
                            <div id="tree" class="dd shadowed hide">
                                <ol id="tree_0" class="dd-list">
                                    
                                </ol>

                            </div>
                        </div>
                    </div>
                    <div style="width:100%; height:400px;overflow:auto;border:1px solid #d6d6d6">
                        <div  style="width:100%; height:400px">
                            <table class="table table-striped table-hover table-bordered" id="editabledatatable">
                                <thead>
                                    <tr role="row">
                                        <th>
                                            科目名称
                                        </th>
                                        <th>
                                            录入日期
                                        </th>
                                        <th>
                                            金额
                                        </th>
                                        <th>
                                            操作
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="table_add">
                                    <tr>
                                        <td>基本工资</td>
                                        <td>2017-01</td>
                                        <td>345.78</td>
                                        <td>
                                            <a href="#" class="btn btn-info btn-xs edit"><i class="fa fa-edit"></i> Edit</a>
                                            <a href="#" class="btn btn-danger btn-xs delete"><i class="fa fa-trash-o"></i> Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Body -->
<!--Small Modal Templates-->
<div id="modal_small" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="mySmallModalLabel">提示框</h4>
            </div>
            <div class="modal-body">
                <label id="modal_text"></label>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!--add Modal Templates-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">添加</h4>
      </div>
      <div class="modal-body col-xs-12 well">
            <div class="table-toolbar col-xs-3 col-md-3" style="margin-right: 2px">
                <a id="select_modal_account" href="javascript:void(0);" class="btn btn-default" onclick="hide_modal_tree()">选择添加科目</a>
            </div>
            <div class="table-toolbar col-xs-3 col-md-3" style="margin-right: 2px">
                <div class="input-group" style="">
                    <div class="input-group-addon">¥</div>
                  <input type="text" class="form-control" id="add_money" placeholder="0.00">
                </div>
            </div>
            <div class="table-toolbar col-xs-3 col-md-3" style="margin-right: 2px">
                <div class="input-group">
                  <input type="text" class="form-control" id="add_date" placeholder="日期">
                </div>
            </div>
            <div class="table-toolbar col-xs-12 col-md-12">
                <div id="modal_tree" class="dd shadowed hide">
                    <ol id="modal_tree_0" class="dd-list">
                        
                    </ol>

                </div>
            </div>
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button id="sub_add" type="button" class="btn btn-primary" onclick="add()">提交</button>
      </div>
    </div>
  </div>
</div>    